@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  scrollbar-width: none;
}

*,
*::after,
*::before {
  @apply m-0 p-0 box-border scroll-smooth;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* body styling starts */
body {
  @apply w-full overflow-x-hidden relative bg-background text-text;
  /* font-family: Arial, Helvetica, sans-serif; */
}
.container {
  @apply w-full max-w-[100rem] mx-auto px-4 sm:px-6 lg:px-20 overflow-x-hidden;
}

h1 {
  @apply text-[1rem] sm:text-[1.8rem] md:text-[1.5rem]  font-bold text-text font-bahnschrift leading-tight ;
}

h2 {
  @apply text-3xl md:text-4xl font-semibold text-text font-bahnschrift leading-snug;
}

h3 {
  @apply text-2xl font-semibold text-text font-bahnschrift;
}

h4 {
  @apply text-xl font-medium text-text font-bahnschrift italic;
}

h5 {
  @apply text-lg font-medium text-text font-bahnschrift;
}

h6 {
  @apply font-semibold text-[20px] md:text-[30px] text-secondaryDark font-bahnschrift;
}

/* PARAGRAPH (OPTIONAL BASE STYLE) */
p {
  @apply text-base text-text font-bahnschrift leading-relaxed text-wrap;
}

/* LINKS */
a {
  @apply text-text md:text-[16px] text-[14px] hover:text-secondaryDark transition-colors duration-200;
}

/* BUTTONS */
button {
  @apply px-6 py-2 rounded-lg  font-bahnschrift   transition;
}

/* focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-datext-secondaryDark */
/* body styling ends */
