/* header 2 styling starts */
.secondHeader {
  @apply w-full fixed flex justify-center items-center py-3 border-b bg-secondaryDark backdrop-blur-sm  text-softWhite transition-all z-50;
}
.secondHeader .container{
  @apply flex items-center justify-between
}
.stickyIt {
  @apply sticky top-0 w-full  border-b border-b-muted shadow-md bg-secondaryDark/90;
}
.header-logo-container {
  @apply flex gap-1 text-center justify-center w-full overflow-hidden;
}
.header-logo-container div{
  @apply flex items-center justify-center flex-col gap-1 overflow-hidden;
}
.icon-header {
  @apply md:w-[60px] w-[30px] md:h-[60px] h-[30px];
}
.header-logo-container h1 {
  @apply lg:w-[20rem] font-bahnschrift text-center md:text-start text-softWhite 
}
.header-logo-container h1:hover, .header-logo-container h3:hover{
    @apply text-transparent bg-clip-text animate-gradientMove;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #c16800, #e07b39, #8e4d9c, #814421, #7d7d7d);
  background-size: 300% 300%;
  background-repeat: no-repeat;
   background-image: linear-gradient(90deg, #c16800, #e07b39, #8e4d9c, #814421, #7d7d7d);
}

.secondSection {
  @apply flex items-end
}

.navigatePages {
  @apply flex items-center justify-end gap-5;
}

.navigatePages .nav-link{
  @apply text-softWhite no-underline font-bahnschrift text-[14px] md:text-[18px] hover:text-primary;
}

.navigatePages .active, .active {
  @apply text-primary font-semibold;
}
/* header 2 styling ends */

/* header 3 styling starts */
.thirdHeader .container{
  @apply flex flex-col gap-y-2
}
.menu-icon{
  @apply text-[20px] sm:text-[26px] text-text font-bold cursor-pointer;
}
.drawer-container{
  @apply p-6 w-full sm:w-[500px] h-screen bg-secondary/40
}
.icon-drawer-container{
  @apply flex justify-end mb-4
}
.drawer-container .navigatePages{
  @apply flex flex-col
}
.contact-flex{
  @apply flex items-center gap-1
}
.subMenu{
  @apply h-full flex flex-col items-center justify-center
}
.socials-drawer {
  @apply grid grid-cols-6 md:grid-cols-3 gap-1 w-full md:w-[20rem] place-items-center my-2 justify-center;
}
.socials-drawer button{
  @apply bg-transparent
}
.socials-drawer a {
  @apply inline-flex items-center justify-center gap-4 w-[2rem] h-[2rem] text-text rounded-[5px] shadow-sm  transition-all text-center no-underline bg-transparent;
}
.drawer-header-container-appoint {
  @apply flex items-center justify-center gap-4 w-full my-2
}

.drawer-header-container-appoint .appointContainer button {
  @apply flex items-center justify-center gap-1 font-bahnschrift font-medium text-[14px] md:text-[16px] transition shadow-md bg-secondary
  hover:bg-secondary/60;
}
.arrowContact{
  @apply hover:cursor-pointer
}
/* header 3 styling ends */

/* toggle styling starts */
.toggle-container{
  @apply w-[42px] h-[24px] border-[1.5px] border-solid border-text rounded-[30px] flex items-center justify-between p-[2px] relative cursor-pointer;
}

.icon{
  @apply text-[12px];
}

.ball{
  @apply w-[15px] h-[15px] bg-primary rounded-[50%] absolute;
}
/* toggle styling ends */

